# Byte-compiled
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/
env/

# IDE
.idea/
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Environment variables
.env

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/

# Coverage
.coverage
htmlcov/

# Build
build/
dist/
*.egg-info/

# DB
db.sqlite3